---
# Only the main Sass file needs front matter (the dashes are enough)
---
// This file contains styles specific to the style guide itself. Styles placed
// here are not imported into the downloadable files.

@charset "utf-8";

// # UI-Core partials.
//
//   Calls from `sass_dir` (defaults to `_sass`), and some gems.
//

@import "colours";
@import "variables";

@import "normalize";
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "grid";
@import "accessibility";
@import "forms";
@import "typography";
@import "buttons";
@import "code-syntax";
@import "tables";

// # Colours.
//
//   Might be worth pushing these into (custom) partials?
//
//   Note: some colours might be pushed to ui-core.

$dto-desat-blue: #244A61;
$dto-colour: #015a96;
$dto-light-gray: #F3F3F3;
$core-white: #ffffff;
$core-black: #000000;

// # Core grid and page.

//   todo: We also have from ui-core: $desktop, $tablet, and $mobile...
$large-screen: em(860);
$medium-screen: em(769);
$tiny-screen: em(320);

body {
  margin: 0;
}

header {
  margin-top: 0;

  &.topbar {
    padding-top: $small-spacing;
    background-color: $dto-desat-blue;
    color: $core-white;
    height: 6.5em;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

    p {
      font-weight: 200;
      font-size: 2.4em;
      margin: 0;
    }
  }

  &#hero {
    //background-color: $dto-light-gray;
    //height: 100vh;
    //width: 100vw;
    color: $core-black;
    padding-top: 8em;
    padding-bottom: 5em;
    border-bottom: 2px solid darken($dto-light-gray, 15%);
    margin-bottom: 5em;

    h1 {
      font-weight: 700;
    }

    p.guide-description {
      font-size: 2.1em;
      margin: 0;
    }
  }
}

footer { }

main {
  display: block;
  // Because some browsers don't set this as a block element --
  // html5shiv should take care of this for IE.
  margin-top: 0;

  &#home section,
  &#home header {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

section { }

article {
  @include span-columns(9 of 12);
  margin-top: 120px;
}

aside {
  @include span-columns(3 of 12);
}

.wrapper {
  @include outer-container();
  text-align: left;
  margin: 0 auto;
}

.main-content {
  @include span-columns(9);
  margin-top: 120px;

  @include media(max-width 53.75em) {
    margin-top: 0;
  }

  h2:before {
    display: block;
    content: " ";
    margin-top: -145px;
    height: 165px;
    visibility: hidden;

    @media (max-width: 999px) {
      @include span-columns(12);
      margin-left: 15px;
      margin-right: 15px;

      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

// # Custom typography.

h1.page-heading {
  margin-bottom: 0;
  font-family: $base-heading-font-family;
}

// # Custom UI elements.
//
//   Some of this may be abstracted into partials and/or ui-core.

.button {
  padding: $small-spacing;
  border: none;
  height: 5em;
  text-align: center;
  text-decoration: none;
  background-color: #13365e;
  color: lighten(#13365e, 85%);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);

  &:hover {
    background-color: lighten(#13365e, 10%);
    color: white;
  }
}

//.button-download::before {
//  color: black;
//  content: '\f019';
//  font-family: 'FontAwesome';
//  position: relative;
//  right: 17px;
//}

// style guide header

#govau-logo {
  color: #fff;
  font-size: 40.5px;
  text-decoration: none;
}

#star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 53px;
  margin-left: 13px;
  position: relative;
  top: 14px;
  width: 53px;

  & + p {
    padding-left: 94px;
  }
}
// end style guide header

// style guide navigation

nav.primary {
  background: $light-gray;
  height: 6.8em;
  position: fixed;
  top: 6.5em;
  width: 100%;
  z-index: 100;

  @include media(max-width $large-screen) {
    background: transparent;
  }

  ul {
    clear: both;
    display: none;
    margin: 0 auto;
    max-width: 64em;
    overflow: visible;
    -webkit-padding-start: 0;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($large-screen) {
      display: block;
    }

    @include media (max-width $large-screen) {
      max-width:100%;
    }
  }

  @include media (max-width $large-screen) {
    .nav-link:not(.current) {
      background: #F0F3F5;
    }
  }

  .nav-link {
    display: inline-block;
    display: block;
    overflow: hidden;
    padding-bottom: 0;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($large-screen) {
      display: inline;
      margin-left: -0.5%;
    }

    @include media (max-width $large-screen) {
      &:not(.current){
        border-bottom: 4px solid transparent;
      }

      &:hover {
        background: darken(#F0F3F5, 3%);
        border-bottom: 4px solid #244A61;
      }
    }

    a {
      color: #244A61;
      font-size: 1em;
      line-height: $base-spacing * 2;
      padding: 20px $base-spacing;
      text-decoration: none;

      @include media (max-width $large-screen) {
        padding-left: calc(100vw - 130px);
        width: 130px;
      }


      @include media (min-width $large-screen) {
        &:hover {
          background: darken(#F0F3F5, 3%);
          border-bottom: 4px solid #244A61;
        }
      }
    }
  }
}

.current {
  a {
    background: rgba(155,154,155,0.08);
    border-bottom: 4px solid #244A61;
    font-weight: 700;
  }

  @include media (max-width $large-screen) {
    background: darken(#F0F3F5, 3%);
    border-bottom: 4px solid #244A61;

    a {
      background: transparent;
      border-bottom: transparent;
    }
  }
}

ul.navigation-menu {
  margin: 0;
}

aside.navigation-wrapper {
  position: relative;
  top: 6px;
  z-index: 999;

  .mobile-menu {
    color: #fff;
    display: block;
    float: right;
    font-size: 24px;
    line-height: 80px;
    margin: 0;
    padding-right: 15px;
    position: fixed;
    right: 15px;
    text-decoration: none;
    top: 6px;

    @include media ($large-screen) {
      display: none;
      // investigate?
    }
  }
}

// end style guide navigation

// style guide secondary navigation

nav.secondary {
  margin-top: 33em;

  @media (max-width: 999px) {
    display: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li.nav-item {
      border-left: 2px solid white;
      border-top: 1px solid rgba(34,44,53,0.20);
      margin-bottom: 0;
      border-left: 2px solid transparent;

      a {
        display: block;
        line-height: 1.8;
        padding: $small-spacing 4px $small-spacing $small-spacing;
        border-left: 2px solid transparent;

        &:hover,
        &:active {
          background: #F0F3F5;
          color: #000000;
          border-left: 2px solid black;
        }

        &.js-accordion-trigger {
          font-size: 1.9em;
          padding: $small-spacing / 2 4px $small-spacing / 2  $small-spacing / 2;

        }
      }
      & ul {
        font-size: 1em;

        li.nav-item a {
          border-left: none;
          border-top: none;
          padding: $small-spacing 4px $small-spacing $small-spacing / 4;
          padding-left: $small-spacing * 3;
        }

        li.nav-item:hover,
        li.nav-item:active {
          border-left: 2px solid black;
        }
      }
    }
  }

  ul.sub-nav {
    padding-left: 0;

    &:last-child {
      border-bottom: 1px solid rgba(34,44,53,0.20);
    }
  }

  a {
    text-decoration: none;
    color: #000000;

    &:hover, &:active, &:visited {
      color: #000000;
      text-decoration: none;
    }
  }
}
// end style guide secondary navigation

// style guide info panel
.accordion {
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-color: white !default;
  $accordion-menu-background: #232D35;
  $accordion-menu-sub-background: #F0F3F5;
  $accordion-menu-list-padding: ($base-spacing / 2) $gutter;

  background-color: $accordion-menu-background;
  margin: 0 0 $base-spacing 0;
  padding: 0;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    &.accordion-heading {
      padding-bottom: 0;
    }

    &.accordion-heading:after {
      color: white;
      content: '\f078';
      font-family: 'FontAwesome';
      font-size: 15px;
      right: 15px;
      top: 14px;
      position: absolute;
    }

    > a {
      color: #FFFFFF;
      display: block;
      font-family: OpenSans-Bold;
      font-size: 20px;
      padding: $accordion-menu-list-padding;
      text-decoration: none;
    }

    &:last-child {
      border: none;
    }

    p {
      margin: 0;
    }
  }

  ul.submenu {
    display: none;

    li {
      background-color: $accordion-menu-sub-background;
      padding: 20px;
    }
  }

  li.accordion-heading.is-expanded {
    display: block;
    padding-bottom: 0;

    &:after {
      transform: rotate(-180deg);
    }
  }
}
// end style guide info panel

.entry {
  margin-bottom: 2em;

  h2 {
    font-weight: normal;
  }
}

.line-height {
  margin: auto;
  width:658px;
  padding-top: 48px;
  padding-bottom: 52px;
}

.font-variations {

  p {
    font-size: 32px;
    color: #000000;
    letter-spacing: 2.8px;
    line-height: 40px;
  }

  h4 {
    font-family: OpenSans;
    font-size: 14px;
    color: rgba(34,44,53,0.60);
    letter-spacing: 0.03px;
  }

  p:nth-child(2) {
    font-family: OpenSans-Bold;
  }

  p:nth-child(4) {
    font-family: OpenSans;
  }

  p:nth-child(6) {
    font-family: OpenSans-Light;
  }
}

.font-examples {

  span {
    font-size: 140px;
    color: black;

    &:first-child {
      font-family: OpenSans-Bold;
    }

    &:nth-child(2){
      font-family: OpenSans;
      padding-left: 30px
    }

    &:nth-child(3){
      font-family: OpenSans-Light;
      padding-left: 30px
    }
  }
}

.display-type-1 {
  font-family: OpenSans-Bold;
  font-size: 58px;
  color: #000000;
  line-height: 68px;
}

.display-type-2 {
  opacity: 0.93;
  font-family: OpenSans;
  font-size: 58px;
  color: #000000;
  line-height: 68px;
}

.display-type-heading {
  font-family: OpenSans;
  font-size: 36px;
  color: #000000;
  line-height: 40px;
}

.colour-swatches {
  @include outer-container;

  .colour-swatch {
    @include span-columns(2 of 9);

    color: #000000;
    background: #FFFFFF;
    border: 1px solid #979797;
    font-family: OpenSans-Bold;
    font-size: 17px;
    height: 100%;
    margin-bottom: 20px;
    min-height: 216px;
    padding: 7px;

    @include media($tablet) {
      @include span-columns(3);
    }

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .colour {
    border: 1px solid #FFFFFF;
    height: 126px;
    margin-bottom: 10px;
  }

  p {
    margin:0;
  }
}

$color_names: 'primary-colour', 'secondary-colour', 'low-light-colour', 'high-light-colour', 'text-default-colour', 'secondary-brand-colour', 'sucess-colour', 'error-colour', 'secondary-contrast-colour';
$color_vars: $primary-colour, $secondary-colour ,$low-light-colour, $high-light-colour, $text-default-colour, $secondary-brand-colour, $sucess-colour, $error-colour, $secondary-contrast-colour;

@each $name in $color_names {
  $i: index($color_names, $name);
  .#{$name} {
    background-color: nth($color_vars, $i);
  }
}

// # Footer styles.
//
//   This needs cleaning up.

.footer {
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $footer-background: $light-gray;
  $footer-color: black;
  $footer-link-color: #244A61;
  $footer-disclaimer-color: transparentize($footer-color, 0.3);

  background: $footer-background;
  margin-top: ($base-spacing * 6);
  padding: ($base-spacing * 2) $gutter ($base-spacing * 4) $gutter;
  width: 100%;

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $base-spacing;
  }

  ul {
    flex-basis: 20%;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    list-style: none;
    text-align: left;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1.7em;
    font-weight: 700;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 60%;
  }

  p {
    font-size: 1.5m;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

// # Homepage feature defintion list.
//
//   This needs cleaning up too.

nav#homepage-feature {
  margin-top: ($base-spacing * 5);
}

.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 18em;
    flex-grow: 1;
    margin-bottom: ($base-spacing * 2);
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    font-size: 1em; // 19
  }

  span {
    display: block;
    margin: $base-spacing 0;
  }

  img {
    max-width: 100%;
  }
}
