<footer class="footer" role="contentinfo">
  <nav class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/az-guide.html">A to Z</a></li>
      <li><a href="/writing-for-the-web/">Writing for the web</a></li>
      <li><a href="/sources/">Sources</a></li>
    </ul>
    <ul>
      <li><h3>Feedback</h3></li>
      <li><a href="https://github.com/AusDTO/gov-au-content-guide">GitHub</a></li>
      <li><a href="https://groups.google.com/a/digital.gov.au/forum/#!forum/content-design-in-government">Join community</a></li>
    </ul>
    <ul>
      <li><h3><abbr title="Digital Transformation Office">DTO</abbr></h3></li>
      <li><a href="http://dto.gov.au">About the <abbr title="Digital Transformation Office">DTO</abbr></a></li>
      <!--<li class="nav-link back-up">[ <a href="#content-top">back to top &uarr;</a> ]</li>-->
    </ul>
  </nav>

  <hr>

  <p class="copyright authorship">&copy; Copyright Digital Transformation Office.</p>
  <p class="license">Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">the Creative Commons Attribution 4.0 International license</a>.
</footer>
</div> <!--this is really confusing! We should try to make sure all divs open and close in the same file -->
</div>

<script>
  smoothScroll.init();
  </script>
<!--VENDOR SCRIPTS -->

<!--CUSTOM SCRIPTS -->
<script src="{{ "/js/accordion.js" | prepend: site.baseurl }}"></script>

{% comment %}
<script src="/js/inlineDisqussions.js"></script>
<link rel="stylesheet" href="/css/inlineDisqussions.css" type="text/css"/>
    <script>
//add comments
// to add comments to a page or section the container needs to have the ID 'add-discussions'
// comments are added to every p element in a container element with that ID
jQuery(document).ready(function(){
  disqus_shortname = 'govaucontent';
  if(document.getElementById("add-discussions") !== null){
    jQuery("p").inlineDisqussions();
  }
});

</script>
{% endcomment %}
