<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <title>Content Design Guide</title>
  <meta name="description" content="A Content Design Guide for the Australian Goverment">

  <link rel="stylesheet" href="{{ "/scss/styleguide.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/scss/custom.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="{{ "/js/scroll.js" | prepend: site.baseurl }}"></script>
</head>
