<header class="topbar">
  <div class="wrapper">
    <div class="guide-title">
      <p>
        <a href="/">{{ site.title }} v{{ site.version }}
        <span class="badge">draft</span></a>
      </p>
    </div>
  </div>
</header>

<div class="jumbotron">
    <p>
      This Design Guide for UI-Kit version 1 was last updated in March 2017.
      The new <a href="https://github.com/govau/uikit" rel="external">UI-Kit version 2</a> is now available.<br>
      <strong>UI-Kit version 1 is no longer maintained.</strong><br>We will update this guide to cover the new UI-Kit soon.
    </p>
</div>
