<header class="topbar">
  <div class="wrapper">
    <div class="guide-title">
      <p>
        <a href="/">{{ site.title }} v{{ site.version }}
        <span class="badge">draft</span></a>
      </p>
    </div>
  </div>
</header>

<div class="alert.warning">
    <p>
      This Content Style Guide v1.0 was last updated in December 2016.
      The new <a href="http://guides.service.gov.au/content-guide/" rel="external">GOV.AU Content Guide</a> is now available.<br>
      <strong>This guide is no longer maintained.</strong>
    </p>
</div>
