<nav id="homepage-feature">
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-content">
        <h2>A to Z</h2>
        <p>A modern A to Z style guide with examples to help writers and editors work to a consistent style that&rsquo;s accessible.</p>
        <span>
          <a class="button" href="/az-guide.html">View A to Z</a>
        </span>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-content">
        <h2>Writing for the web</h2>
        <p>Guidance on web writing best practice covering plain English, structure and writing for search engines.</p>
        <span>
          <a class="button" href="/writing-for-the-web/">View Writing for the web</a>
        </span>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-content">
        <h2><a href="/sources/">Sources</a></h2>
        <p>This guide has been influenced by sources including the GOV.UK style guide, 18F Content Guide, The&nbsp;Guardian and Observer style guide, and more.</p>
        <span>
          <a class="button" href="/sources/">View Sources</a>
        </span>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-content">
        <h2><a href="/ideas-for-the-future/">Ideas for the future</a></h2>
        <p>This is the first release of the Content Style Guide. More topics will be added in the future. We welcome your ideas.</p>
        <span>
          <a class="button" href="/ideas-for-the-future/">View Ideas for the future</a>
        </span>
      </div>
    </li>
  </ul>
</nav>
