<nav id="homepage-feature">
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt="">
      </div>
      <div class="bullet-content">
        <h2><a href="/az-guide.html">A to Z style guide</a></h2>
        <p>A modern A to Z style guide with examples to help writers and editors work to a consistent style that&rsquo;s accessible.</p>
        <span>
          <a class="button" href="/az-guide.html">View A to Z style guide</a>
        </span>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt="">
      </div>
      <div class="bullet-content">
        <h2><a href="/writing-for-the-web/">Writing for the web</a></h2>
        <p>Guidance on web writing best practice, covering plain English, structure and writing for search engines.</p>
        <span>
          <a class="button" href="/writing-for-the-web/">View Writing for the web</a>
        </span>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Sources</h2>
        <p>This guide has been influenced by a number of sources, including GOV.UK, The Macquarie Dictionary, The Guardian and 18F, among others. <code>[coming soon]</code></p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Ideas for the future</h2>
        <p>This is the first release of the Content Guide. More topics will be add in the future. We welcome your ideas. <code>[coming soon]</code></p>
      </div>
    </li>
  </ul>
</nav>
