<aside class="navigation-wrapper">
  <nav class="primary">
    <div class="wrapper">
      <ul class="navigation-menu">
        <li class="nav-link" >
          <a href="/index.html">Home</a>
        </li>
        <li class="nav-link {% if page.path contains 'az-'  %}current{%endif%}">
          <a href="/az-guide.html" class="{% if page.path contains 'az-' %}current{%endif%}">A to Z</a>
        </li>
        <li class="nav-link {% if page.collection == 'writing-for-the-web' %}current{%endif%}">
          <a href="/writing-for-the-web/" class="{% if page.collection == 'writing-for-the-web' %}current{%endif%}">Writing for the web</a>
        </li>
        <li class="nav-link {% if page.collection == 'sources' %}current{%endif%}">
          <a href="/sources/" class="{% if page.collection == 'sources' %}current{%endif%}">Sources</a>
        </li>
        <li class="nav-link {% if page.collection == 'ideas-for-the-future' %}current{%endif%}">
          <a href="/ideas-for-the-future/" class="{% if page.collection == 'ideas-for-the-future' %}current{%endif%}">Ideas for the future</a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
