<div class="navigation-wrapper">
  <nav class="primary" role="navigation">
    <div class="wrapper">
      <ul class=navigation-menu>
        <li class=nav-link>
          <a href="/foundations.html">Foundations</a>
        </li>
        <li class=nav-link>
          <a href="/components.html">Components</a>
        </li>
        <li class=nav-link>
          <a href="/patterns.html">Patterns</a>
        </li>
        <li class=nav-link>
          <a href="/templates.html">Templates</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
