<nav class="secondary">
   <ul>
    <li class="nav-item">
      <a href="/az-guide.html">
      About the A to Z guide
      </a>
    </li>

    {% assign prev_letter = "Z" %}
    {% assign current_letter = page.path | replace: "az-indexes/", "" | replace: "az-guide", "" | first_letter %}
    {% for entry in site.entries %}
    {% assign letter = {{entry.path | entry_heading | first_letter }}%}
    {% if letter != prev_letter %}

    {% if prev_letter != 'Z' %}
    </ul>
    {% endif %}

    <li class="nav-item">
      <a href="javascript:void(0)" class="js-accordion-trigger" >
        {{ letter }}
      </a>
      <ul class="sub-nav submenu" id="{{ letter }}-index" {% if letter != current_letter %} style="display: none;" {%endif%}>
      {% assign prev_letter = letter %}
    {% endif %}{% comment %} closes if letter != prev_letter {% endcomment %}
      <li class="nav-item">
        <a href="{{ site.baseurl }}/az-indexes/{{ letter | downcase }}.html#{{ entry.path | entry_file }}">
          {{ entry.title }}
          </a>
        </li>

    {% endfor %}

  </ul>
    </li>


</nav>
