<nav class="secondary">
  <ul>
    <a>
      <li class="nav-item">
        Overview
      </li>
    </a>
    <a>
      <li class="nav-item">
        Purpose
      </li>
    </a>
    <a>
      <li class="nav-item">
        A-Z
      </li>
    </a>
    <li>
      <ul class="sub-nav">
        {% for entry in site.entries %}
        <a href="#{{ entry.path | entry_file }}">
          <li class="nav-item">
            {% if entry.menu_link %}
            {{ entry.menu_link }}
            {% else %}
            {{ entry.path | entry_heading }}
            {% endif %}
          </li>
        </a>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>