<nav class="secondary">
  <ul>
    <a>
      <li class="nav-item">
        Overview
      </li>
    </a>
    <a>
      <li class="nav-item">
        Purpose
      </li>
    </a>
    <a>
      <li class="nav-item">
        Foundations
      </li>
    </a>
    <li>
      <ul class="sub-nav">
        <a>
          <li class="nav-item">
            Overview
          </li>
        </a>
        <a>
          <li class="nav-item">
            Design principles
          </li>
        </a>
        <a>
          <li class="nav-item">
            Grid
          </li>
        </a>
        <a>
          <li class="nav-item">
            Typography
          </li>
        </a>
        <a>
          <li class="nav-item">
            Pairings and styles</a>
          </li>
        </a>
        <a>
          <li class="nav-item">
            Typesetting
          </li>
        </a>
        <a>
          <li class="nav-item">
            Text accessibility
          </li>
        </a>
        <a>
          <li class="nav-item">
            Links
          </li>
        </a>
        <a>
          <li class="nav-item">
            Lists
          </li>
        </a>
        <a>
          <li class="nav-item">
            Colors
          </li>
        </a>
        <a>
          <li class="nav-item">
            Iconography
          </li>
        </a>
        <a>
          <li class="nav-item">
            Layout
          </li>
        </a>
        <a>
          <li class="nav-item">
            Charts
          </li>
        </a>
        <a>
          <li class="nav-item">
            Writing style
          </li>
        </a>
      </ul>
    </li>
  </ul>
</nav>
