$primary-colour: #225187;
$secondary-colour: #3370B8;
$low-light-colour: #244A61;
$high-light-colour: #F0F3F5;
$text-default-colour: #232D35;
$secondary-brand-colour: #4891E2;
$sucess-colour: #E4FDDD;
$error-colour: #FADEDE;
$secondary-contrast-colour: #6D6D6D;
