table {
  margin-top: 89px;
  margin-bottom: 58px;
  
  th{
    background-color: #53D4EF;
    padding: 21px 17px 19px 17px;
  }

  td {
    padding: 21px 17px 19px 17px;
  }
}

table, th, td {
  border: 1px solid #979797;
}
