// # Todos.
//
// - merge core font-sizing

body {
  line-height: $base-leading;
  font-family: $base-font-family;
  color: $base-font-color;
  font-size: 62.5%;
  // Richard Rutter's font sizing trick, setting 16px to 10px.
  // From here we can set fonts at a multiple of 10 in either ems or rems.

}

// # Regarding vertical typography:
//   Vertical spacing is set with margin-bottom unless margin-top is required.

// # Regarding scale (typography):
//   We're using a custom scale, composed of a mix of the 'classic' scale, and
//   one based on the Fibonacci sequence. It is:
//
//   > 11, 12, 14, 15, 17, 19, 21, 24, 36, 48, 60, 72, 96
//

// # Headings.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-heading-font-family;
  margin-top: $small-spacing;
  margin-bottom: $small-spacing / 2;
  font-weight: normal;
  line-height: $base-heading-leading;
}

h1 {
  font-size: 6em;

  &.page-heading {
    font-family: "OpenSans-Light";
  }
}

h2 {
  font-size: 4.8em;
}

h3 {
  font-size: 3.6em;
}

h4 {
  font-size: 2.4em;
}

h5 {
  font-size: 2.1em;
}

h6 {
  font-size: 1.8em;
}

p {
  font-size: $base-body-font-size;
  margin-bottom: $small-spacing;
}

// # Lists.
ul,
ol {
  font-size: $base-body-font-size;
  margin-bottom: $small-spacing;
  margin-left: 0;
  padding: 0;

  li {
    font-size: 1.1rem;
    margin-bottom: $small-spacing;

    ul,
    ol {
      margin-bottom: 0;
    }
  }
}

ol li {
  list-style: decimal;
}

dl {
  font-size: $base-body-font-size;
  margin: 0;
  margin-bottom: $small-spacing;

  dt {
    font-weight: 700;
    margin-bottom: $small-spacing;
    margin-top: $base-spacing;
  }

  dd {
    margin-bottom: $small-spacing;
    margin-left: $small-spacing;
  }
}

// # Anchors.
a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

// # Other elements.

blockquote {
  margin-left: $base-spacing;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
