// # Typography.
$fontface-serif: Georgia, Times, "Times New Roman", serif;
$fontface-sans: "Lato", Verdana, Geneva, sans-serif;
$fontface-mono: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;

$base-font-family: $fontface-sans;
$base-heading-font-family: $fontface-sans;

$base-body-font-size: 1.7em;

// # Line height.
$base-leading: 1.9;
$base-heading-leading: 1.4;

// Other Sizes.
$base-spacing: $base-leading * 1em;
$small-spacing: $base-spacing / 2;
$base-border-radius: 3px;
$base-z-index: 0;

// # Font Colors.
$base-font-color: #000;
$action-color: $blue;

// # Border.
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// # Background Colors.
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// # Forms.
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// # Animations.
$base-duration: 150ms;
$base-timing: ease;
