---
layout: default
---

{% include navigation.html %}

<div class="content">
  {% include sidebar-nav-az.html %}
  <div id="add-discussions" class="main-content">
    {% assign current_letter = page.path | replace: "az-indexes/", "" | first_letter %}

    <h1 class="page-heading">Index: {{ current_letter | capitalize }}</h1>

    {% for entry in site.entries %}
    {% assign letter = {{entry.path | entry_heading | first_letter }}%}

    {% if current_letter == letter %}

    <div id="{{ entry.path | entry_file }}" class="entry" data-section-id="{{ entry.path | entry_file }}">
      <h2>{{ entry.title }}</h2>

      {{ entry.output }}

    </div>

    {% endif %}

    {% endfor %}

  </div>
</div>
