---
layout: default
---

{% include navigation.html %}

<main class="wrapper">

  <aside class="sidebar">
    {% include sidebar-nav-az.html %}
  </aside>

  <article class="main-content" id="commentable-area">

    {% assign current_letter = page.path | replace: "az-indexes/", "" | first_letter %}

    <h1 class="page-heading">Index: {{ current_letter | capitalize }}</h1>

    {% for entry in site.entries %}
    {% assign letter = {{entry.path | entry_heading | first_letter }}%}

    {% if current_letter == letter %}

    <div id="{{ entry.path | entry_file }}" class="entry" data-section-id="{{ entry.path | entry_file }}">
      <h2>{{ entry.title }}</h2>

      {{ entry.output }}


      <aside class="entry-meta">
        <a class="button button--commenting" href="https://groups.google.com/a/digital.gov.au/forum/?hl=en#!forum/content-design-in-government">
          Add feedback
        </a>
      </aside>

    </div>

    {% endif %}

    {% endfor %}

  </article>
</main>

<script src="/js/inlineDisqussions.js"></script>
<link rel="stylesheet" href="/css/inlineDisqussions.css" type="text/css"/>
<script>
  disqus_shortname = 'govaucontent';
  jQuery(document).ready(function() {
    jQuery("p").inlineDisqussions();
  });
</script>
