---
layout: default
---

{% include navigation.html %}

<main class="wrapper">

  <aside>
    {% include collection-sidebar.html %}
  </aside>
  <article class="main-content" id="commentable-area">

    <header>
      {% assign the-collection = page.collection %}
      {% assign c = site.collections | where:'label',the-collection | first %}

      {% for doc in c.docs %}
        {% if doc.layout == "collection-index" %}

      <h1 class="page-heading">{{ doc.collection-title }}</h1>

        {% endif %}
      {% endfor %}

    </header>
    <h2>{{ page.title }}</h2>

    {{ content }}

  </article>
</main>
