---
layout: default
---

<main>
  <header id="hero">
    <h1>{{ site.title }}</h1>
    <p class="guide-description">{{ site.description }}</p>
  </header>

  <section id="overview">
    <h2>{{ page.title }}</h2>
    {{ page.abstract | markdownify }}

    <dl>
      <dt>az page-title</dt>
      <dd>az page.abstract
        <a class="button" href="#">View A-Z</a>
      </dd>

      <dt>wfw page-title</dt>
      <dd>wfw page.abstract
        <a class="button" href="#">View Writing for the web</a>
      </dd>

      <dt>sources page-title</dt>
      <dd>sources page.abstract
        <a class="button" href="#">View Sources</a>
      </dd>

      <dt>future-ideas page-title</dt>
      <dd>future-ideas page.abstract
        <a class="button" href="#">View Future ideas</a>
      </dd>
    </dl>
  </section>

  <section id="about">

    {{ content }}

  </section>
</main>
