---
layout: default
---

<main id="home" class="">
  <header id="hero" class="">
    <div class="wrapper">
      <div class="site-banner">
        <h1>{{ site.title }} v{{ site.version}}</h1>
        <p class="guide-description">{{ site.description }}</p>
      </div>
    </div>
  </header>

  <section id="overview" class="">
    <section class="wrapper">
      <header class="page-title">
        <h2>{{ page.title }}</h2>
        {{ page.abstract | markdownify }}
      </header>

      <aside class="guide-features">
        {% include homepage-feature-outline.html %}
      </aside>
    </section>
  </section>

  <section id="about" class="">
    <section>
      {{ content }}
    </section>
  </section>
</main>
