---
layout: default
---

{% include navigation.html %}

<div class="content">
  {% include sidebar-nav-guides.html %}
  <div class="main-content" id="commentable-area">
    <h1 class="page-heading">{{ page.title }}</h1>
    <div class="intro">
      {{ page.abstract }}
    </div>

    <hr />

    {{ content }}

  </div>
</div>
<script src="js/inlineDisqussions.js"></script>
<link rel="stylesheet" href="css/inlineDisqussions.css" type="text/css"/>
<script>
  disqus_shortname = 'govaucontent';
  jQuery(document).ready(function() {
    jQuery("p").inlineDisqussions();
  });
</script>
